<?xml version="1.0"?>
<robot name="irb1400">
	
	<!--MATERIAL-->
	<material name="orange">
		<color rgb="0.75686275 0.36078431 0.03921569 1"/>
	</material>

	<material name="silver">
		<color rgb="0.61568627 0.83921569 0.94117647"/>
	</material>

	<!--LINKS: BASE-->
	<link name="base_with_coordinate_system">
		<inertial>
		<origin
        	xyz="-0.11257 -4.1589E-05 0.057533"
        	rpy="0 0 0" />
      	<mass
        	value="25.417" />
      	<inertia
        	ixx="0.347632032016038"
        	ixy="-0.000497937869254212"
        	ixz="0.0371909126715644"
        	iyy="0.710520929572187"
        	iyz="0.000244473496051384"
        	izz="0.978461123632107" />
    	</inertial>
    <visual>
      		<origin
        		xyz="0 0 0"
        		rpy="0 0 0" />
      		<geometry>
        		<mesh
					filename="/home/iman/version-control/ros-playground/irb1400/meshes/base_with_coordinate_system.STL"/>
      		</geometry>
      	<material name="orange"/>
    </visual>
	<collision>
      		<origin
				xyz="0 0 0"
				rpy="0 0 0" />
      		<geometry>
      			<mesh
      	   		 filename="___BASE___" />
      		</geometry>
	</collision>
	</link>

	

</robot>	



