<?xml version="1.0"?>
<robot name="tapak_kaki">
	<link name="tapak">
		<visual>
			<geometry>
				<cylinder length="0.6" radius="0.2"/>
			</geometry>
		</visual>
	</link>

	<link name="kaki_kanan">
		<visual>
				<geometry>
						<box size="0.6 0.1 0.2"/>
				</geometry>
				<!--setting rpy=(0,pi/2,0)    		  -->
				<origin rpy="0 1.5707 0" xyz="0 0 -0.3"/>
		</visual>
	</link>

	<joint name="tapak_ke_kaki_kanak" type="fixed">
			<parent link="tapak"/>
			<child link="kaki_kanan"/>
	</joint>
</robot>

